@model IEnumerable<Student>;

<h1>Student List</h1>

<a href="@Url.Action("AddStudent", "Student")" class="btn btn-primary">Add Student</a>

<table class="table table-striped table-dark">

    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Course</td>
        <td>DateEnrolled</td>
        <td>Show Details</td>
        <td>Update</td>
        <td>Delete</td>


    </tr>
    @foreach (var Student in Model)
    {
        <tr>
            <td>@Student.Id </td>
            <td>@Student.Name</td>
            <td>@Student.Course</td>
            <td>@Student.DateEnrolled</td>
            <td><a asp-action="ShowDetail" asp-route-id="@Student.Id" class="btn btn-info">Show Details</a></td>
            <td><a asp-action="Edit" asp-route-id="@Student.Id" class="btn btn-success">Edit</a></td>
            <td><a asp-action="Delete" asp-route-id="@Student.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>